<h1>Masthead</h1>
<br />
<div>
  <strong><em>The Lawrence</em></strong>
  <strong> Vol. CXLV<br><br>Editor-in-Chief<br></strong>
    Mira Ponnambalam ’26<br><br>
  <strong>Executive Editor<br></strong>
    Ellen Jordan ’26<br><br>
  <strong>News Editors<br></strong>
    Angel Xin ’26<br>
    Dorothy Lee ’26<br><br>
  <strong>Opinions Editors<br></strong>
    Sahana Lowy ’26<br>
    Tiffany Sun ’26<br><br>
  <strong>Sports Editor<br></strong>
    Marcus Tsai ’27<br><br>
  <strong>Arts Editor<br></strong>
    Catarina Correa ’26<br><br>
  <strong>Features Editors<br></strong>
    Bunny Henault-Bassett ’26<br>
    Michael Meng ’26<br><br>
  <strong>Copy Editors<br></strong>
    Ethan Zhu ’26<br>
    Rebecca Streeter ’26<br><br>
  <strong>Web Editor<br></strong>
    Oceana Li ’27<br><br>
  <strong>Photo Editor<br></strong>
    Nicole Halucka ’26<br><br>
  <strong>Graphics Editor<br></strong>
    Gloria Yu ’26<br><br>
  <strong>Social Media and Outreach Editor<br></strong>
    Sophie Yang ’26<br><br>
  <strong>Faculty Advisors<br></strong>
    Dean Bernadette Teeley<br>
    Ms. Ansley Keane<br>
</div>
