<h1>Masthead</h1>
<br />
<div>
  <strong><em>The Lawrence</em></strong>
  <strong> Vol. CXLVI<br><br>Editor-in-Chief<br></strong>
  Eric Chen ’27<br><br>
  <strong>Executive Editor<br></strong>
    Vivian Blessing ’27<br><br>
  <strong>News Editors<br></strong>
    Isabelle Lee ’27<br>
    Sophie Liu ’27<br><br>
  <strong>Opinions Editors<br></strong>
  Sarah Jang ’27<br>
  Zamin Rizvi ’28<br><br>
  <strong>Sports Editor<br></strong>
  Isaac Yeo ’28<br><br>
  <strong>Arts Editor<br></strong>
  Yvonne Chen ’28<br><br>
  <strong>Features Editors<br></strong>
  Katherine Qiu ’27<br>
  Tin Ho Xiong ’27<br><br>
  <strong>Copy Editors<br></strong>
  Ella Song ’27<br>
  Noah Strauss ’28<br><br>
  <strong>Web Editor<br></strong>
    Oceana Li ’27<br><br>
  <strong>Photo Editor<br></strong>
  Sonia Shum ’27<br><br>
  <strong>Graphics Editor<br></strong>
  Karina Stakh ’27<br><br>
  <strong>Social Media and Outreach Editors<br></strong>
  Eleanor Brandt ’27<br>
  Melina Kyriakopoulos ’27<br><br>
  <strong>Faculty Advisors<br></strong>
    Ms. Ansley Keane<br>
    Mr. Matthew Kleiner<br><br>
</div>